/* Box Model Hack */
/* Use this style as your guidelines, comment out when done*/
/* * {
  border: 1px dashed blue;
} */

/*
Apply this style to every bordered box that
will have a gray background
*/
.box {
  background-color: #EEE;
  border: 1px #333 solid;
}

/*
This style will center the entire content of the page
in the middle of the screen
*/
.container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  height: 100px;
  width: 100%;
  margin-bottom: 40px;
}

.container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 90px;
  padding-top: 40px;
}

.container nav h1 {
  margin-right: 200px;
  margin-left: 90px;
  margin-top: -6px;

}


.sidebar {
width: 85%;
height: 1500px;
margin-right: 40px;
margin-left: 10%
}

.content {
  width: 40%;
  height: 1500px;
  margin-right: 5%
}

ul  {
    padding-inline-start: 0px;
    list-style-type: none;
    line-height: 1.6;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
}

.footer {
  margin-top: 40px;
  height: 200px;
}


.footer h1 {
  text-align: center;
}

.footer h2 {
  text-align: center;
}

.footer p {
  text-align: center;
}









* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/

body.landing-page {
   color: #000;
   font-size: 12px;
   line-height: 1.4;
   font-family: Helvetica, Arial, sans-serif;
   background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
   background-size: cover;
}

body.blog {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.landing-page-container {
  width: 100%;
  margin: auto;
  height: 500px;

}

.blog-container {
  width: 960px;
  margin: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
